@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: roboto, sans-serif;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: -10px;
}

button {
    font-family: roboto, sans-serif;
    padding: 10px;
    max-width: 200px;
    border-radius: 10px;
    background-color: #3882f6;
    color:#F9FAF8;
}

img {
    width: 150px;
    height: auto;
    border: 5px solid #3882f6;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

ul {
    list-style-type: none;  
    display: flex;
    column-gap: 10px;
    font-size: 18px;
}

.basket {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    padding: 20px;
}

.top {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 20px;
}

.hero {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.header {
    background-color: #1f2937;
    color: #F9FAF8;
    font-size: 24px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-basket {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: flex-start;
}

.right-basket {
    display: flex;
    justify-content:
}

.title {
    font-size: 36px;
    font-weight:900;
    margin: 40px;
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
    margin: 40px;
}

.lou {
    max-width: 300px;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    background-color: #e5e7eb;
    padding: 50px;
}

.speak {
    font-size: 18px;
    margin-left: 500px;
}

.modal {
    background-color: #3882f6;
    margin: 100px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 24px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.donate {
    border: solid #F9FAF8 3px;
    font-size: 16px;
}

.head {
    color: #F9FAF8;
    font-size: 24px;
}

.bottom {
    color: #F9FAF8;
    font-size: 16px;
}

.footer {
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 20px;
}




